<div class="container-fluid bg-light py-4">
  <div class="container">

    <a href="https://www.instagram.com/cooperativa.origen/" target="_blank" class="text-decoration-none">
      <div class="row align-items-center text-center text-md-start justify-content-between">

        <!-- Columna "¿Nos seguís?" con flecha -->
        <div class="col-6 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
          <h4 class="fw-bold text-success mb-0 me-2">¿Nos seguís?</h4>
          <img src="{{ '/assets/img/icon_flecha_btn.png' | relative_url }}" alt="Flecha" style="height: 1.6rem;">
        </div>

        <!-- Columna Instagram -->
        <div class="col-6 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
          <img src="{{ '/assets/img/icon_ig_green.png' | relative_url }}" alt="Instagram" style="height: 1.6rem;" class="me-2">
          <span class="text-success fw-semibold">@cooperativa.origen</span>
        </div>

      </div>
    </a>

  </div>
</div>