<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/img/logo_origen_blanco.png' | relative_url }}" alt="Origen Logo" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% assign sorted_terapias = site.terapias | sort: "order" %}
                {% for terapia in sorted_terapias %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ terapia.url }}">{{ terapia.title }}</a>
                    </li>
                {% endfor %}
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ '/quienes-somos/' | relative_url }}">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fst-italic" href="/contacto/">Contacto</a>
                </li> -->
            </ul>
      </div>
    </div>
</nav>