<div class="container-fluid py-5">
  <div class="container text-white">

    <!-- Título con recuadro -->
    <div class="d-inline-block px-4 py-2 mb-5">
      <h2 class="fw-bold mb-0 rounded-title">¿Cómo funciona?</h2>
    </div>

    <!-- Lista de pasos -->
    <div class="row gy-4 mx-3 mx-md-5">
      <div class="col-12 d-flex align-items-start mx-1 mx-md-3">
        <img src="{{ '/assets/img/icono-formulario.png' | relative_url }}" alt="Paso 1" style="height: 80px;" class="me-4">
        <p class="fs-4 mb-0">
          <strong>1/</strong> El tutor solicita un turno de consulta llenando el formulario<br>
          y uno de nuestros asesores se comunica con usted.
        </p>
      </div>

      <div class="col-12 d-flex align-items-start mx-1 mx-md-3">
        <img src="{{ '/assets/img/icono-veterinaria.png' | relative_url }}" alt="Paso 2" style="height: 80px;" class="me-4">
        <p class="fs-4 mb-0">
          <strong>2/</strong> Se coordina la fecha del turno con la Profesional/Veterinaria.<br>
          La consulta <em>es a distancia vía <strong>videollamada</strong></em>.
        </p>
      </div>

      <div class="col-12 d-flex align-items-start mx-1 mx-md-3">
        <img src="{{ '/assets/img/icono-gotero.png' | relative_url }}" alt="Paso 3" style="height: 80px;" class="me-4">
        <p class="fs-4 mb-0">
          <strong>3/</strong> Luego de realizada la consulta profesional, el veterinario<br>
          evalúa si corresponde indicar el uso de cannabis y realiza una receta.
        </p>
      </div>
    </div>
    
  </div>
</div>