<!-- Hero Section with Parallax -->
<header class="hero veterinaria position-relative">
  <div class="container hero-overlay text-white d-flex flex-column align-items-end justify-content-start h-100 p-4 pt-5">

    <!-- Contenedor del bloque textual -->
    <div class="hero-text-block text-start">
        <h1 class="display-4 fw-bold titulo-principal position-relative">
          Terapia <br>Cannábica<br>para mascotas
          <img src="/assets/img/icon_perro_y_gato_blanco.png" alt="Mascotas" class="icono-mascota align-middle ms-2 d-none d-md-inline">
        </h1>

        <p class="lead subtitulo-hero">{{ page.subtitle }}</p>

        <a href="#formulario" class="btn btn-xl rounded-pill mt-custom-hero btn-solicitar-turno">Solicitar turno</a>
    </div>

  </div>
</header>
