<div class="container">
    <h2 class="fw-bold text-success text-center display-4 mb-4">Indicaciones frecuentes</h2>
    <ul class="lista-indicaciones row text-center fs-5">
        <li class="col-md-4 mb-3">Dolor crónico – Artrosis – Epilepsia</li>
        <li class="col-md-4 mb-3">Ansiedad – Estrés por separación</li>
        <li class="col-md-4 mb-3">Procesos inflamatorios y degenerativos</li>
        <li class="col-md-4 mb-3">Alergias de piel</li>
        <li class="col-md-4 mb-3">Recuperación postquirúrgica</li>
        <li class="col-md-4 mb-3">Síndrome senil</li>
    </ul>
</div>