<div class="container">
    <h2 class="fw-bold text-success text-center display-4 mb-4">Indicaciones frecuentes</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-3 fs-5">🐾 Dolor crónico – Artrosis – Epilepsia</div>
        <div class="col-md-4 mb-3 fs-5">🐾 Ansiedad – Estrés por separación</div>
        <div class="col-md-4 mb-3 fs-5">🐾 Procesos inflamatorios y degenerativos</div>
        <div class="col-md-4 mb-3 fs-5">🐾 Alergias de piel</div>
        <div class="col-md-4 mb-3 fs-5">🐾 Recuperación postquirúrgica</div>
        <div class="col-md-4 mb-3 fs-5">🐾 Síndrome senil</div>
    </div>
</div>