<div class="container-fluid bg-textura-oscura">
  <div class="container-fluid h-100">
    <div class="row align-items-stretch text-white" style="min-height: 100%;">
      
      <!-- Columna izquierda -->
      <div class="col-md-6 mb-4 mb-md-0 text-center">
        <img src="{{ 'assets/img/hernandez.png' | relative_url }}" class="img-fluid rounded" alt="Veterinaria Nati con gato">
      </div>
      
      <!-- Columna derecha -->
      <div class="col-md-6">
        <div class="d-flex flex-column h-100 py-4">
          
          <!-- Parte superior -->
          <div class="top">
            <h2 class="fw-bold display-7 text-white">Realizá tu consulta profesional</h2>
            <p class="bg-highlight d-inline-block">a distancia con veterinarios especializados</p>
            <p><em>en terapias con <strong>Cannabis</strong> y nutrición animal</em></p>
            <div class="text-start mt-4 d-none d-md-inline">
                <img src="{{ 'assets/img/flechas.png' | relative_url }}" alt="Flechas" style="height: 2rem;">
            </div>
          </div>
          
          <!-- Parte inferior pegada abajo -->
          <div class="bottom vet-box mt-auto">
            <p class="rounded-title fw-bold fst-italic mb-1">N. Hernandez</p>
            <small class="px-2">M.P. 14813</small>
            <p class="mb-0">Médica veterinaria</p>
            <p>Especialista en terapias cannábicas</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>